@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Animals";
}

<div class="main">
    <div class="container">
        <div class="Animals">
            <div class="firstrow">
                <div class="animals__elem">
                    <div class="animals__ramka">
                        <img src="~/img/animals/bolshaya_shporcevaya_kukushka.png" class="animals__img">
                        <h6 class="animals__name">Большая Шпорцевая кукушка</h6>
                    </div>
                </div>

                <div class="animals__elem">
                    <div class="animals__ramka">
                        <img src="~/img/animals/chernogrebenchaty_golub.png" class="animals__img">
                        <h6 class="animals__name">Черногребенчатый голубь</h6>
                    </div>
                </div>

                <div class="animals__elem">
                    <div class="animals__ramka">
                        <img src="~/img/animals/kakadu.png" class="animals__img">
                        <h6 class="animals__name">Какаду</h6>
                    </div>
                </div>
            </div>

            <div class="secondrow">
                <div class="animals__elem">
                    <div class="animals__ramka">
                        <img src="~/img/animals/krasnoryki_tamarin.png" class="animals__img">
                        <h6 class="animals__name">Краснорукий тамарин</h6>
                    </div>
                </div>

                <div class="animals__elem">
                    <div class="animals__ramka">
                        <img src="~/img/animals/kustarnikovaya_sobaka.png" class="animals__img">
                        <h6 class="animals__name">Кустарниковая собака</h6>
                    </div>
                </div>

                <div class="animals__elem">
                    <div class="animals__ramka">
                        <img src="~/img/animals/lysuha.png" class="animals__img">
                        <h6 class="animals__name">Лысуха</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>