@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="container">
        <div class="logo">
            <div class="logo__info">
                <span>Зоопарк "Юрский период" в<br>Усть-Ильимске уже открыт!</span>
            </div>
            <div class="logo__workmode">
                <img src="img/sun.png" class="logo__img">
                <div class="logo__text"><span>Режим работы:<br>9:00 - 19:00</span></div>
            </div>
        </div>

        <div class="entertainment">
            <h1 class="entertainment__h1">Услуги и развлечения</h1>
            <div class="ents">
                <div class="ents__element">
                    <img src="../img/uslugi_razvlecheniya/letnie_zimnie_kafe.png" class="ents__img">
                    <figcaption class=ents__name>Летние и зимние кафе</figcaption>
                </div>

                <div class="ents__element">
                    <img src="../img/uslugi_razvlecheniya/verhovaya_ezda.png" class="ents__img">
                    <figcaption class=ents__name>Секции верховой езды</figcaption>
                </div>

                <div class="ents__element">
                    <img src="../img/uslugi_razvlecheniya/atraktion.png" class="ents__img">
                    <figcaption class=ents__name>Аттракционы</figcaption>
                </div>

                <div class="ents__element">
                    <img src="~/img/uslugi_razvlecheniya/prokat_karet.png" class="ents__img">
                    <figcaption class=ents__name>Прокат карет</figcaption>
                </div>

                <div class="ents__element">
                    <img src="~/img/uslugi_razvlecheniya/ynatckiy_kruzshok.png" class="ents__img">
                    <figcaption class=ents__name>Юннатский куржок</figcaption>
                </div>

                <div class="ents__element">
                    <img src="~/img/uslugi_razvlecheniya/prokat.png" class="ents__img">
                    <figcaption class=ents__name>Прокат</figcaption>
                </div>

                <div class="ents__element">
                    <img src="~/img/uslugi_razvlecheniya/lektii_uroki.png" class="ents__img">
                    <figcaption class=ents__name>Лекции и уроки</figcaption>
                </div>
            </div>
        </div>
    </div>
</div>
